<div class="footer-component dark">
    <div class="list-list">
        <div class="list">
            <h3>Social media</h3>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter / X</p>
            <p>YouTube</p>
            <p>LinkedIn</p>
        </div>
        <div class="list">
            <h3>About us</h3>
            <p>Rewards</p>
            <p>Jobs</p>
            <p>Our Company</p>
            <p>Our Coffee</p>
        </div>
        <div class="list">
            <h3>For Business Partners</h3>
            <p>Landlord Support Center</p>
            <p>Suppliers</p>
            <p>Corporate Gift Card Sales</p>
        </div>
        <div class="list">
            <h3>Help</h3>
            <p>FAQs</p>
            <p>Contact</p>
            <p>Terms & Conditions</p>
            <p>Privacy</p>
        </div>
    </div>
    <p>© 2024 Latteee</p>
</div>