<div class="container top">
    <div class="box">
        <h2>Drinks</h2>
        <p>From classic espressos to signature creations, every drink at Latteee is made with quality ingredients
            and expert care.</p>
        <a class="btn" [routerLink]="['/menu', 'drinks']">More</a>
    </div>
    <img src="/image-0.png" alt="img">
</div>
<div class="container">
    <img class="right" src="/image 18.png" alt="img">
    <div class="box">
        <h2>Toppings</h2>
        <p>Enhance your drink with our delicious selection of toppings and add-ons.</p>
        <a class="btn" [routerLink]="['/menu', 'toppings']">More</a>
    </div>
</div>
<div class="container">
    <div class="box">
        <h2>Food</h2>
        <p>Pair your favorite drink with our selection of fresh pastries, savory bites, and wholesome snacks.</p>
        <a class="btn" [routerLink]="['/menu', 'food']">More</a>
    </div>
    <img src="/image 19.png" alt="img">
</div>