<div class="welcome dark">
    <h2>Welcome to Latteee Rewards!</h2>
    <p>Join our rewards program and enjoy perks crafted just for coffee lovers.
        <br>Every sip brings you closer to a treat on us!
    </p>
    <div class="btn-container">
        <a class="btn" [routerLink]="['/account']">Join now</a>
    </div>
</div>
<div class="container">
    <div class="points-container">
        <img src="/image 20.png" alt="img">
        <div class="points dark">
            <h3>How It Works:</h3>
            <div>
                <p>Create an account</p>
                <p>↓</p>
                <p>Buy coffee</p>
                <p>↓</p>
                <p>Earn points</p>
                <p>↓</p>
                <p>Get free cake</p>
            </div>
        </div>
        <div class="citation">
            <blockquote>
                <p>"Join today, start earning, and make every coffee break even more rewarding!"</p>
            </blockquote>
            <p class="author">Latte Marketing Team</p>
        </div>
    </div>
    <div class="tiers-container">
        <div class="tiers dark">
            <h3>Rewards Tiers:</h3>
            <div>
                <p>Brew Beginner</p>
                <p>Caffeine Connoisseur</p>
                <p>Espresso Elite</p>
            </div>
        </div>
        <img src="/image 21.png" alt="img">
        <div class="perks">
            <h3>Member Perks:</h3>
            <p>Free Birthday Drink</p>
            <p>Early Access</p>
            <p>Exclusive discounts</p>
        </div>
    </div>
    <div class="owner">
        <div class="citation">
            <blockquote>
                <p>"Join us today, unwind, and make every moment in our cafe a delightful escape!"</p>
            </blockquote>
            <p class="author">Latte Cafe Owner</p>
        </div>
        <img src="/image 22.png" alt="img">
    </div>
</div>