<div class="welcome box dark">
    <div class="text">
        <h2>Welcome to Latte!</h2>
        <p>Where every cup is crafted with love and care.</p>
        <a class="btn" [routerLink]="['/menu']">View menu</a>
    </div>
    <img src="/image10.png" alt="img">
</div>
<div class="about box">
    <img src="/image8.png" alt="img">
    <div class="about-text">
        <h2>A Passion for Coffee and Community</h2>
        <p>Born from a love of good coffee and great company, Latte is a place to unwind, connect, and be
            inspired. Discover
            our story and what makes us more than just a coffee shop.</p>
        <a class="btn" [routerLink]="['/about']">Read More About Us</a>
    </div>
</div>
<div class="cards box">
    <div class="text">
        <h2>Gift cards</h2>
        <p>Looking for the perfect gift? Treat friends and family to their favorite coffee moments with a [Cafe
            Name]
            gift card.
            From birthdays to celebrations, our gift cards are a wonderful way to share a cup of joy.</p>
        <a class="btn" [routerLink]="['/gifts']">Get a Gift Card</a>
    </div>
    <div>
        <img src="/image11.png" alt="img">
    </div>

</div>
<div class="rewards text">
    <div class="title">
        <h2>Rewards Program</h2>
        <img class="img-circle" src="/image 13.png" alt="img">
    </div>
    <p>Sip, earn, and enjoy exclusive perks with our Latte Rewards Program! Earn points on every purchase and
        redeem them
        for free drinks, discounts, and more. Plus, get a special treat on your birthday—just for being part of the
        family!</p>
    <a class="btn" [routerLink]="['/rewards']">Rewards Program</a>
</div>
<div class="community dark box">
    <div class="community-text">
        <h2>Join Us</h2>
        <p>Join our warm community of coffee lovers and make every visit special. From exclusive perks to
            personalized
            rewards,
            there’s always something to look forward to at Latte.</p>
        <a class="btn" [routerLink]="['/account']">Join the Community</a>
    </div>
    <div class="img-list">
        <img src="/image14.png" alt="img">
        <img src="/image15.png" alt="img">
        <img src="/image16.png" alt="img">
        <img src="/image17.png" alt="img">
    </div>
</div>